%teamBoxStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border-radius: 1.2rem;
  background: $color-gray-50;
}

.highlightTeamLayout {
  padding: 2.8rem 1.6rem;
  background-color: $color-white;
}

.sectionTitleBox {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.title {
  @include font-headline2;

  color: $color-black;
}

.description {
  @include font-body4;

  color: $color-gray-600;
}

.teamBox {
  @extend %teamBoxStyle;

  padding: 0 1rem;
  margin-top: 2.8rem;
}

.participationBtn {
  @include font-headline3;

  display: flex;
  padding: 0.8rem 1.6rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border-radius: 0.8rem;
  border: none;
  background: $color-pink-main;
  color: $color-white;
}

.allTeamLinkBtn {
  @include font-headline3;

  display: flex;
  padding: 1.2rem 0;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  align-self: stretch;
  border-radius: 1.2rem;
  border: 0.1rem solid $color-pink-main;
  background: linear-gradient(180deg, #ff8c91 0%, #fe5a65 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  margin-top: 2.4rem;
}

.noTeamBox {
  @extend %teamBoxStyle;

  justify-content: center;
  margin-top: 2rem;
  padding: 3.2rem 0;
  gap: 1.2rem;
}

.noTeamText {
  @include font-body5;

  color: $color-gray-400;
}
