.button {
  height: 4rem;
  font-weight: 500;

  border-radius: 0.8rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.large {
  width: 30rem;
  font-size: 1.4rem;
}

.medium {
  width: 162.05px;
}

.backgroundBlack {
  background-color: $color-gray-800;
  color: $color-white;
  border: none;
}

.backgroundGray {
  background-color: $color-gray-300;
  color: $color-white;
  border: none;
}

.backgroundPink {
  background-color: $color-pink-main;
  color: $color-white;
  border: none;
}

.backgroundWhite {
  background-color: $color-white;
  border: 1px solid $color-black;
}
