.button {
  border: 1px solid #000;
  height: 40px;
  font-weight: 500;
}

.large {
  width: 327px;

  font-size: 14px;
}

.medium {
  width: 162.05px;
}

.backgroundBlack {
  background-color: #545454;
  color: #ffffff;
}

.backgroundWhite {
  background-color: #ffffff;
}
