@layer overrides {
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
    min-height: 100vh;
  }

  .header {
    padding: 2rem 1.6rem 0;

    &[data-visible='hidden'] {
      transform: translateY(-6.8rem);
    }
  }
}
