@layer components {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.8rem;
    position: absolute;
    bottom: 9.6rem;
    right: 1.6rem;
    z-index: $z-index-floating-action;
  }
}
