@layer overrides {
  .profileLayout {
    display: flex;
    width: 100%;
    padding: 2rem 1.6rem 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }

  .profileLayout h1 {
    @include font-headline3;
    text-align: center;
  }

  .profileImageBox {
    display: flex;
    padding: 2.4rem var(--selectpayment, 0) var(--min-24, 3.2rem) var(--selectpayment, 0);
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .profileImage {
    position: relative;
    display: flex;
    width: 6.4rem;
    height: 6.4rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
  }

  .plusButton {
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .profileForm {
    display: flex;
    flex-direction: column;
    gap: 34.8rem;
  }

  .formField {
    display: flex;
    flex-direction: column;
  }

  .errorText {
    @include font-caption1;

    color: $color-pink-main;
    align-self: stretch;
    padding-top: 0.8rem;
  }

  .petChoiceLabel {
    @include font-headline3;

    margin-top: 1.2rem;
    margin-bottom: 0.4rem;
  }

  .petChoice {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
  }

  .petChoiceBox {
    display: flex;
    flex-direction: column;
    gap: 3.9rem;
  }

  .checkboxInput {
    display: none;
  }

  .petChoiceButton {
    display: flex;
    width: 15.4rem;
    height: 4rem;
    padding: 0rem 0.8rem 0rem 1.6rem;
    align-items: center;
    gap: 0.8rem;
    flex-shrink: 0;
    border-radius: 10rem;
    background-color: $color-white;
    color: $color-gray-500;
    border: 0.1rem solid $color-gray-500;
    @include font-body3;
  }

  .checkboxInput:checked + .petChoiceButton {
    color: $color-pink-main;
    border: 0.1rem solid $color-pink-main;
  }

  .checkIcon {
    width: 2rem;
    height: 2rem;
    background: url('../../../assets/images/gray-check.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .checkboxInput:checked + .petChoiceButton .checkIcon {
    width: 3.2rem;
    height: 3.2rem;
    background: url('../../../assets/images/pink-check.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .buttonText {
    width: 9.4rem;
  }
}
