@layer components {
  .container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1.2rem;
  }

  .titleMain {
    @include font-headline1;
  }

  .titleSub {
    @include font-body2;

    color: $color-gray-700;
  }
}
