@layer components {
  .container {
    overflow-x: auto;
    width: 100%;
    min-height: 27rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .list {
    display: flex;
    gap: 2.4rem;
  }
}
