.contents {
  background-color: white;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
  padding: 2.8rem 1.6rem 1.6rem;
}

.productList {
  display: flex;
  gap: 2.4rem;
  margin: 0 1.6rem;
}
