.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
  padding: 0.35rem;
  height: 1.4875rem;
  border-radius: 4.375rem;
  font-size: 0.75rem;
  color: #a7a7a7;
}
