@layer components {
  .nextButton {
    width: 32.8rem;
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: none;
  }

  .nextButton span {
    @include font-body4;
    color: $color-black;
  }
}
