@layer components {
  .medium {
    width: 16rem;
    height: 2.4375rem;
    padding: 0.75rem 0.875rem;
  }

  .mediumLarge {
    width: 19.1875rem;
    height: 2.4375rem;
    padding: 0.75rem 0.875rem;
  }

  .large {
    display: flex;
    width: 32.8rem;
    height: 4.4rem;
    padding: 0rem 1.2rem;
    align-items: center;
    gap: 0.8rem;
    align-self: stretch;
    border-radius: 0.8rem;
    border: 0.1rem solid $color-gray-400;
  }

  .small {
    display: flex;
    width: 22rem;
    height: 4.4rem;
    padding: 0rem 1.2rem;
    align-items: center;
    gap: 0.8rem;
    align-self: stretch;
    border-radius: 0.8rem;
    border: 0.1rem solid $color-gray-400;
  }

  .roundBorder {
    border-radius: 6.25rem;
    border: none;
  }

  .background {
    background-color: #a7a7a7;
  }

  .label {
    color: $color-black;
    @include font-headline3;
  }

  .inputWithLabel {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .inputWithLabel input:focus {
    outline: none;
  }

  .inputWithIcon {
    position: relative;
  }

  .error {
    border: 0.1rem $color-pink-main solid;
    background-color: $color-pink-light;
    color: $color-pink-main;
  }

  .errorText {
    color: $color-pink-main;
    font-size: 0.8rem;
    text-align: left;
  }

  .icon {
    position: absolute;
    right: 0.0625rem;
    top: 80%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
