@layer components {
  .medium {
    width: 16rem;
    height: 2.4375rem;
    padding: 0.75rem 0.875rem;
  }

  .mediumLarge {
    width: 19.1875rem;
    height: 2.4375rem;
    padding: 0.75rem 0.875rem;
  }

  .large {
    width: 20.375rem;
    height: 2.3125rem;
  }

  .roundBorder {
    border-radius: 6.25rem;
    border: none;
  }

  .background {
    background-color: #f5f5f5;
  }

  .label {
    font-size: 2rem;
  }

  .inputWithLabel {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .inputWithIcon {
    position: relative;
  }

  .error {
    border: 0.1rem red solid;
  }

  .errorText {
    color: red;
    font-size: 0.8rem;
  }

  .icon {
    position: absolute;
    right: 0.0625rem;
    top: 80%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
