@layer components {
  .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 20rem;
  }

  .snap {
    @include font-body5;
    background-color: rgba(17, 17, 17, 0.3);
    color: $color-white;
    border-radius: 1.2rem;
    position: absolute;
    right: 1.6rem;
    bottom: 2.4rem;
    padding: 0.4rem 1.2rem;
    z-index: 2;
  }

  .carousel {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .slide {
    position: relative;
    flex: 0 0 100%;
    min-width: 0;
  }
}
