@layer components {
  .imageBox {
    position: relative;
  }

  .myPageFirstPhoto {
    width: 14rem;
    height: 16rem;
  }

  .petPhoto {
    width: 14rem;
    height: 16rem;
  }

  .welcomePetPhoto {
    width: 20rem;
    height: 20rem;
  }

  .disabled {
    position: absolute;
    background-color: gray;
    opacity: 50%;
    z-index: 2;
  }
}
