.zzimButton {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
  border: none;
  background: none;
  z-index: $z-index-zzim;
}

.soleImg,
.redSoleImg {
  width: 3.2rem;
  height: 3.2rem;
}
