.zzimButton {
  z-index: 10;
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
  border: none;
  background: none;
}

.soleImg,
.redSoleImg {
  width: 3.2rem;
  height: 3.2rem;
}
