/* Grayscale */
$color-black: #111111;
$color-gray-1000: #1a1d20;
$color-gray-900: #23262c;
$color-gray-800: #373c49;
$color-gray-700: #5a6072;
$color-gray-600: #73798d;
$color-gray-500: #9196a7;
$color-gray-400: #b5b9c6;
$color-gray-300: #cfd3db;
$color-gray-200: #e7e9ed;
$color-gray-100: #f3f4f7;
$color-gray-50: #f9fafc;
$color-white: #ffffff;

/* Primary*/
$color-pink-main: #fe5a65;
$color-pink-middle: #ff8c91;
$color-pink-light: #fff3f3;

/* Sub */
$color-blue: #34bacc;
$color-blue-light: #e5fafc;
$color-star-yellow: #ffd43c;
$color-kakao-yellow: #fee500;
