$z-index-home-background: -2;
$z-index-app-background: -1;
$z-index-zzim: 5;
$z-index-bottom-nav: 10;
$z-index-header: 10;
$z-index-floating-action: 15;
$z-index-modal-backdrop: 20;
$z-index-modal: 25;
$z-index-toast: 30;
