@layer overrides {
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
    min-height: 100vh;
  }

  .header {
    padding: 2rem 1.6rem 0;

    &[data-visible='hidden'] {
      transform: translateY(-6.8rem);
    }
  }

  .productTypeBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.6rem 1.6rem 2rem;
  }
}
