@layer components {
  .container {
    background-color: $color-gray-100;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 1.2rem;
  }

  .input {
    @include font-body4;

    background-color: transparent;
    border: none;
    outline: none;
    color: $color-black;
    width: 100%;
    height: 3.2rem;
    padding-right: 2.8rem;

    &::placeholder {
      color: $color-gray-700;
    }
  }

  .icon {
    background-color: transparent;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.8rem;
    padding: 0;
  }
}
