@layer components {
  .container {
    display: flex;
    justify-content: center;

    @include desktop {
      display: block;
    }
  }

  .homeBackground {
    background-image: url('/images/pawing-background.png');
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // transform: translateZ(0); // fixed 요소의 잔상 이슈 해결
    // will-change: transform; // 브라우저 최적화
    z-index: $z-index-home-background;
  }

  .introViewBox {
    $size-home: 51.2rem;

    display: none;
    position: fixed;
    left: calc((-1 * $size-home) + 50vw);
    width: $size-home;
    height: 100vh;

    @include desktop {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .appBackground {
    background-color: $color-white;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: $size-mobile-max;
    height: 100%;
    z-index: $z-index-app-background;
  }

  .mainBox {
    width: 100%;
    max-width: $size-mobile-max;

    @include desktop {
      display: flex;
      justify-content: center;
      max-width: $size-view-box;
      position: relative;
      left: 50vw;
    }
  }

  .main {
    width: 100%;
    max-width: $size-mobile-max;
    position: relative;
  }

  .contents {
    @include nav-shadow;

    background-color: $color-white;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: $size-mobile-max;
    min-height: 100vh;

    @include desktop {
      border-left: 0.1rem solid $color-gray-300;
      border-right: 0.1rem solid $color-gray-300;
    }
  }

  .rootToast {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: $size-mobile-max;
    z-index: $z-index-toast;
  }
}
