@layer overrides {
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
    min-height: 100vh;
  }

  .header {
    padding: 2rem 1.6rem 0;

    &[data-visible='hidden'] {
      transform: translateY(-6.8rem);
    }
  }

  .recommendedBox {
    margin-top: 3.2rem;
    width: 100%;
  }

  .hotBox {
    margin-top: 3.2rem;
    width: 100%;
  }

  .categoryBox {
    margin-top: 3.2rem;
    margin-bottom: 6.2rem;
    width: 100%;
    padding: 0 1.6rem;
  }

  .bottomSheetContents {
    height: 200px;
    overflow-y: auto;
  }
}
