@layer overrides {
  .container {
    padding: 0 1.6rem 10rem;
  }

  .header {
    padding-top: 2rem;
    z-index: 3;

    &[data-visible='hidden'] {
      transform: translateY(-6.8rem);
    }
  }

  .test {
    border: 1px solid black;
    width: 100%;
  }

  .divider {
    width: 100%;
    height: 50px;
    background-color: $color-blue;
  }

  .bottomSheetContents {
    height: 200px;
    overflow-y: auto;
  }
}
