.paymentSuccess {
  padding: 20.6rem 9rem 33.8rem 9rem;
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  justify-content: center;
  align-items: center;
}

.finish {
  text-align: center;
  font-family: SUIT;
  @include font-headline2;
}
