.deliveryEditPage {
  margin: 2rem 5.1rem;
}

.header {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
}

.deliveryEditForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.inputArea {
  display: flex;
  flex-direction: column;
  width: 32.8rem;
  gap: 1.2rem;
}

.isDefaultInput {
  width: 32.8rem;
  display: flex;
  align-items: center;
}

.isDefaultText {
  @include font-body3;
}

.checkBox {
  width: 2rem;
  height: 2rem;
  margin: 0.6rem;
  accent-color: $color-pink-main;
}

.errorText {
  @include font-caption1;
  color: $color-pink-main;
  align-self: stretch;
}

.isDefaultErrorText {
  padding-top: 0.8rem;
  padding-left: 1rem;
}

.buttonArea {
  display: flex;
  flex-direction: column;
  width: 32.8rem;
  align-items: center;
  gap: 1.2rem;
}
