.headerRoot {
  padding: 2rem 1.6rem 0.8rem;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #f9fafc;
}

.cardSlider {
  background-color: white;
  padding: 2.8rem 0;
}
