.deliveryCard {
  padding: 1.6rem;
  gap: 1.2rem;
  border-radius: 1.2rem;
  border: 0.1rem solid #e7e9ed;
  width: 100%;
}

.addressName {
  display: flex;
  gap: 0.8rem;
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 0.8rem;
}
