@layer overrides {
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
    padding-top: 2rem;
  }

  .searchBox {
    padding: 0.8rem 0;
  }

  .header {
    padding: 0 1.6rem;
  }

  .recommendedBox {
    margin-top: 3.2rem;
    width: 100%;
  }

  .keywordsBox {
    width: 100%;
    padding: 0.8rem 1.6rem;
  }

  .divider {
    background-color: $color-gray-50;
    width: 100%;
    height: 0.8rem;
    margin: 0.8rem 0;
  }
}
