@layer components {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    @include font-body1;

    margin-top: 2rem;
  }

  .description {
    @include font-body6;

    color: $color-gray-600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.6rem 0 2.8rem;
  }

  .link {
    @include font-body2;

    background-color: $color-pink-main;
    border-radius: 0.8rem;
    color: $color-white;
    text-align: center;
    width: 8rem;
    padding: 0.8rem;
    border: none;
  }
}
