.reviewBoxLayout {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.profileImg {
  width: 4.2rem;
  height: 4.2rem;
  flex-shrink: 0;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.userInfoDetail {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;
}

.nicknameAndDate {
  display: flex;
  justify-content: space-between;
}

.nickname {
  @include font-headline3;

  color: $color-black;
}

.date {
  @include font-body3;

  color: $color-black;
}

.productDetail {
  display: flex;
  align-items: center;

  .option {
    @include font-body3;

    color: $color-gray-500;
  }

  .optionDetail {
    @include font-body4;

    color: $color-gray-500;
    margin: 0 0.4rem;
  }
}

.ratingBox {
  display: flex;
  justify-content: flex-start;
}

.ratingCount {
  @include font-body6;

  color: $color-gray-800;
  margin-left: 1rem;
}

.description {
  background-color: white;
  padding: 0;
}
