.editStarRatingBoxStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.starRating {
  display: flex;
}

.editStarStyle {
  width: 3.2rem;
  height: 3.2rem;
}

.editStarRatingStyle {
  gap: 0.6rem;
}

.ratingText {
  @include font-body1;

  color: $color-gray-500;
  text-align: center;
}
