.textareaStyle {
  resize: none;
  background-color: #f5f5f5;
  border-color: white;

  &:focus {
    border-color: black;
    outline: none;
  }

  &:disabled {
    background-color: white;
    border-color: white;
    overflow: hidden;
  }

  &::placeholder {
    color: #aeaeae;
  }
}
