.card {
  text-decoration: none;
  color: #000000;
  display: inline-flex;
  overflow: hidden;

  &:focus,
  &:active {
    -webkit-tap-highlight-color: transparent;
  }

  &[data-direction='column'] {
    flex-direction: column;
    gap: 0;
  }

  &[data-direction='row'] {
    flex-direction: row;
    gap: 1.2rem;
  }

  &[data-size='extraLarge'] {
    width: 15.6rem;
  }

  &[data-size='large'] {
    width: 14rem;
  }

  &[data-size='small'][data-direction='row'] {
    width: 100%;
    align-items: start;
  }

  &[data-size='small'][data-direction='column'] {
    width: 10rem;
  }

  &[data-size='miniImage'][data-direction='row'] {
    width: 100%;
  }
}

.cardImage {
  position: relative;
  border-radius: 1.2rem;
  overflow: hidden;
  flex-shrink: 0;

  &[data-size='extraLarge'] {
    width: 15.6rem;
    height: 15.6rem;
  }

  &[data-size='large'] {
    width: 14rem;
    height: 14rem;
  }

  &[data-size='small'] {
    width: 10rem;
    height: 10rem;
  }

  &[data-size='miniImage'] {
    width: 8rem;
    height: 8rem;
  }
}

.zzim {
  bottom: 0.4rem;
  right: 0.4rem;
}

.cardContent {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;

  &[data-direction='column'][data-size='large'],
  &[data-direction='column'][data-size='extraLarge'] {
    margin: 1.2rem 0;
  }

  &[data-direction='column'][data-size='small'] {
    margin: 0.4rem 0;
  }

  &[data-direction='row'][data-size='small'] {
    margin: 0 0 0.4rem;
  }
}

.titleBox {
  position: relative;
  height: 1.2rem;

  &[data-size='extraLarge'],
  &[data-size='large'],
  &[data-direction='row'] {
    height: 2rem;
  }
}

.title {
  float: left;
  white-space: normal;
  font-weight: 600;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  &[data-size='extraLarge'] {
    line-height: 1.8rem;
  }

  &[data-size='extraLarge'],
  &[data-size='large'],
  &[data-direction='row'] {
    font-size: 1.4rem;
  }

  &[data-direction='row'],
  &[data-stock='0'] {
    width: 100%;
    margin-bottom: 0.4rem;
  }

  &[data-stock='0'] {
    color: #b5b9c6;
  }

  &[data-direction='miniImage'] {
    @include font-body1;

    width: 23.6rem;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    margin-bottom: 0.8rem;
    margin-top: 1rem;
  }
}

.option {
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.8rem 0 0.6rem;
}

.outOfStock {
  color: #b5b9c6;
  font-size: 1.1rem;
}

.originalPrice {
  text-decoration: line-through;
  margin: 0.4rem 0;
  font-weight: 500;
  color: #beb9c6;
  font-size: 0.8rem;

  &[data-size='extraLarge'],
  &[data-size='large'],
  &[data-direction='row'] {
    font-size: 1.2rem;
  }
}

.discountedPrice {
  display: flex;
  gap: 0.5rem;
  font-weight: 600;
}

.discountRate,
.price {
  font-size: 1.2rem;

  &[data-size='extraLarge'],
  &[data-size='large'],
  &[data-direction='row'] {
    font-size: 1.6rem;
  }
}

.discountRate {
  color: #fe5a65;
}

.star {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin: 0.4rem 0;
}

.starRating {
  font-weight: 400;
  font-size: 0.8rem;

  &[data-size='extraLarge'],
  &[data-size='large'] {
    font-size: 1rem;
  }
}

.tags {
  display: flex;

  &[data-size='extraLarge'],
  &[data-size='large'] {
    gap: 0.4rem;
  }

  &[data-size='small'] {
    flex-direction: column;
  }
}
