.bigContainer {
  padding: 0 3rem;
}

.productImg {
  width: 8rem;
  height: 8rem;
  border-radius: 0.8rem;
}

.productBoxTop {
  display: flex;
  justify-content: space-between;
}

.checkbox {
  accent-color: $color-pink-main;
}

.productExplain {
  display: flex;
  gap: 1.2rem;
}

.productTitle {
  font-size: 1.4rem;
  font-weight: 600;
}

.optionContainer {
  display: flex;
  font-size: 1.2rem;
  color: $color-gray-500;
  font-weight: 500;
}

.moneyContainerRight {
  margin-top: 0.2rem;
}

.moneyContainer {
  display: flex;
  gap: 1.2rem;
}

.counterButton {
  margin-left: 1.5rem;
}

.plusminus {
  border: none;
  width: 2.4rem;
  height: 2.4rem;
  background-color: $color-gray-50;
}

.productNumber {
  text-align: center;
  width: 3.2rem;
  height: 2.4rem;
  border: 0.1rem solid $color-gray-300;
  border-radius: 0.6rem;
}

.productNumber:focus {
  outline: none;
}

.productCost {
  font-size: 1.2rem;
  font-weight: 400;
  color: $color-gray-400;
  text-decoration: line-through;
}

.realPrice {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.discountRate {
  color: $color-pink-main;
  font-weight: 600;
}

.realMoney {
  font-size: 1.4rem;
  font-weight: 600;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: $color-gray-100;
  margin: 1rem 0;
}
