@layer overrides {
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
    min-height: 100vh;
  }

  .header {
    padding: 2rem 1.6rem 0;
  }

  .headerBox {
    grid-template-columns: auto 1fr auto;
  }

  .headerCenter {
    width: 100%;
  }

  .searchBox {
    width: 100%;
  }
}
